.container {
  background-color: #941ee3;
  height: 70vh; 
  width: 90vw; /* Full height of the viewport */
  display: flex;
  flex: 1;
  column-gap: 10px; /* Space between the buttons */
  align-items: center; /* Centers the buttons vertically */
  justify-content: center; /* Centers the buttons horizontally */
}

.btn, .stop {
  background-color: #61099c;
  padding: 20px;
  text-align: center;
  border: 1px solid #61099c;
  height: 60px;
  color: white;
}
